h1{
  font-size: 20px;
  /* border-width: 2px;
  border-style: solid;
  border-color: chocolate; */

  border: 2px solid rgba(2, 2, 156, 0.8); 
  /* 0, 0.1, 0.2, 0.8, 1 */
}
h2 {
  color: white; 
  font-size:large; 
  background-color:blue;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: green;
}

.bg-p {
  background-image: url('apple.png');
}

.img-body {
  background-image: url('../images/bg1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.p1 {
  background-color: burlywood;
  padding: 30px;
  margin: 50px;
}

.p2 {
  background-color: bisque;
  padding: 30px;
  margin: 50px;
}

.p3 {
  background-color: peachpuff;
  padding: 30px;
  margin: 50px;
}

.img1 {
  width: 100px;
  height: 100px;
  float: left;
  padding-right: 20px;
  background-color: transparent;
}

.img2 {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 50px;
}
